
#log4z

#section name is log name
#path defalt is ./log/
#level value must in "ALL, DEBUG, INFO, WARN, ERROR, ALARM, FATAL".
#display defalt is true


#[Main]
#path=./MainLog/
#level = ALL
#display = true
#monthdir = false

[FileConfig]
path = ./AdvacedLog
#level=DEBUG
#display=true
#monthdir = false

[MySql]
path = ./Stress
[NetWork]
path = ./Stress
[Monitor]
path = ./Stress
#
#
#
#